body{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0;
}

section{
    padding: 20px;
    width: 50%;
    height: 60vh;
    text-align: center;
    box-shadow: rgb(0 24 255 / 50%) 0px 5px 15px  ;
}

header{
    text-align: center;
}
h1{
    font-size: 50px;
    color: rgba(0,20,255,0.6)
}

.form-group{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

}
.form-control input{
    border: none;
    background-color: lightgrey;
    padding: 5px 0 5px 0;
    border-radius: 7px;
}

.btn-Calcular{
    display: block;
    width: 100%;
    border: none;
    background-color: skyblue;
    transition: background-color 1s;
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.btn-Calcular:hover{
    background-color:lightgreen;
    transition: background-color 1s;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#priceToPay{
    color:slategrey;
}

@media (max-width:550px) {

    .form-group{
        width: 90%;
    }
    section{
        height: 70vh;
        width: 70%;
    }

    h1{
        font-size: 40px;
    }
}