body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
}
header h1 {
    color: slategray;
}

section{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    column-gap: 20px;
}
.btn{
    width: 90%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.btn-perimetro{
    
    background-color: lightgreen;
    transition: background-color 1000ms;
}
.btn-perimetro:hover{
    background-color:transparent;
    transition:background-color 500ms;
    border: 1px solid lightgreen;
    
}
.btn-area{
    background-color: lightskyblue;
    transition: background-color 1000ms;
}
.btn-area:hover{
    background-color: transparent;
    transition: background-color 500ms;
    border: 1px solid lightskyblue;
}

.figura{
    align-items: center;
    text-align: center;
}

.figura input{
    margin-bottom: 20px;
}

.icon{
    width: 60px;
}
#cuadrado{
    flex: 0.5;
}
#circulo{
    flex: 0.5;
}
#circulo img{
    width: 66px;
}

